.header {
    width: 100%;
    padding: 12px 0;
    background: rgb(208,205,255);
    background: radial-gradient(circle, rgba(208,205,255,0.3253895308123249) 0%, rgba(224,193,255,0.3197872899159664) 36%, rgba(185,236,247,0.33939513305322133) 100%);
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop-name {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 80px;
    font-weight: bold;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.logo-wrap {
    display: flex;
    align-items: center;
}
.header__icons {
    display: flex;
    gap: 34px;
}
.header__fav {
    position: relative;
}
.header__bubble {
    position: absolute;
    width: 19px;
    height: 14px;
    left: 60%;
    bottom: 50%;
    background: #01a54e;
    border: 2px solid #ffe44d;
    border-radius: 20px;
    color: white;
    font-size: 11px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: black;
}